<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="cv.css" type="text/css">
    <title>CV information</title>
</head>

<body>
<h1>Welcome to my cv section</h1>
<h2>My name is Tsopkeng Ruvic</h2>
<img src="" alt="A picture representation">

<ol>
    <p>My favorite hobbies are:</p>
    <ul>
        <li>Basket ball</li>
        <li>Foot ball</li>
        <li>Karate</li>
    </ul>

    <p>My Skills are:</p>
    <ul>
        <li>Computer IT</li>
        <li>Full stack python developer</li>
    </ul>

    <p>My Strengths are:</p>
    <ul>
        <li>Python</li>
        <li>HTML,CSS</li>
    </ul>

    <p>My Weaknesses are:</p>
    <ul>
        <li>JavaScript</li>
    </ul>

</ol>

</body>
</html>
